@model Vize_Ödevi.Models.Futbolcu

@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detay</h1>

<div>
    <h4>Futbolcu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uyruk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uyruk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mevki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mevki)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boy)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Güncelle", "Guncelle", new {  id = Model.Id}) |
    <a asp-action="Listele">Geri Dön</a>
</div>
